
.button
  display: flex
  padding: 13px 28px
  justify-content: center
  align-items: center
  gap: 10px
  border-radius: 6px
  font-feature-settings: 'clig' off, 'liga' off
  font-family: Corsa Grotesk, sans-serif
  font-size: 14px
  font-style: normal
  font-weight: 500
  line-height: 16px

  &.primary
    background: var(--Main, #D244DE)

  &.second
    color: var(--black, #000)
    background: var(--white, #FFF)
